/*
 Theme Name:   GeneratePress Child
 Theme URI:    https://generatepress.com
 Description:  Default GeneratePress child theme
 Author:       Tom Usborne
 Author URI:   https://tomusborne.com
 Template:     generatepress
 Version:      0.1
*/


/* 
 * CSS 已迁移至 src/input.css 并通过 Tailwind 编译
 * 请勿在此添加样式，否则可能被覆盖或导致混乱
 */
